SERVER_PORT=8080

PG_HOST=localhost
PG_PORT=5432
PG_DATABASE=rest_api
PG_USER=your_user
PG_PASSWORD=your_password

GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://admin:admin@localhost:5432/admin_db
GOOSE_MIGRATION_DIR=./migrations
GOOSE_TABLE=rest_api_migrations

JWT_SECRET=yourSafeSecret

LOG_LEVEL=INFO